# 微信应用配置
CORP_ID={CORP_ID}
AGENT_ID={AGENT_ID}
TOKEN={TOKEN}
ENCODING_AES_KEY={ENCODING_AES_KEY}
APP_SECRET={APP_SECRET}

# Flask服务器配置
HOST=0.0.0.0
PORT=8890
DEBUG=false

# SQLite数据库配置
DATABASE_PATH=messages.db


# milvus
MILVUS_HOST={MILVUS_HOST}
MILVUS_PORT=19530
MILVUS_USER=lvlian
MILVUS_PASSWORD={MILVUS_PASSWORD}
MILVUS_DATABASE=mildoc
MILVUS_COLLECTION=mildoc_collection
MILVUS_INDEX_NAME=mildoc_index
MILVUS_VECTOR_DIM=768

# LLM配置 百炼
LLM_MODEL_NAME=qwen-plus
LLM_API_KEY={LLM_API_KEY}
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1

# LLM配置 硅基流动
#LLM_MODEL_NAME=Qwen/Qwen3-32B
#LLM_API_KEY={LLM_API_KEY}
#LLM_BASE_URL=https://api.siliconflow.cn/v1

# LLM Embedding配置 百炼
LLM_EMBEDDING_MODEL_NAME=text-embedding-v4
LLM_EMBEDDING_API_KEY={LLM_EMBEDDING_API_KEY}
LLM_EMBEDDING_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1


# LLM Embedding配置 硅基流动
#ENBEDDING_MODEL=Qwen/Qwen3-Embedding-8B
#OPENAI_API_KEY={OPENAI_API_KEY}
#OPENAI_BASE_URL=https://api.siliconflow.cn/v1

# rerank
# 阿里百炼平台配置
RERANK_PROVIDER=dashscope
RERANK_API_KEY={RERANK_API_KEY}
RERANK_MODEL_NAME=gte-rerank-v2
RERANK_ENDPOINT=https://dashscope.aliyuncs.com/api/v1/services/rerank/text-rerank/text-rerank

# 或硅基流动平台配置
#RERANK_PROVIDER=siliconflow
#RERANK_API_KEY={RERANK_API_KEY}
#RERANK_MODEL_NAME=Qwen/Qwen3-Reranker-4B
#RERANK_ENDPOINT=https://api.siliconflow.cn/v1/rerank
