# minio
##172.31.154.203:9000
ENDPOINT={ENDPOINT}
ACCESS_KEY={ACCESS_KEY}
SECRET_KEY={SECRET_KEY}
MINIO_BUCKET=test

# local minio
#ENDPOINT=127.0.0.1:9000
#ACCESS_KEY=minioadmin
#SECRET_KEY=minioadmin
#MINIO_BUCKET=agribot

# milvus
MILVUS_HOST={MILVUS_HOST}
MILVUS_PORT=19530
MILVUS_USER=lvlian
MILVUS_PASSWORD={MILVUS_PASSWORD}
MILVUS_DATABASE=mildoc
MILVUS_COLLECTION=mildoc_collection
MILVUS_INDEX_NAME=mildoc_index
MILVUS_VECTOR_DIM=768

# bailian embedding llm
OPENAI_API_KEY={OPENAI_API_KEY}
OPENAI_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
ENBEDDING_MODEL=text-embedding-v4

# siliconflow embedding llm
#OPENAI_API_KEY={OPENAI_API_KEY}
#OPENAI_BASE_URL=https://api.siliconflow.cn/v1
#ENBEDDING_MODEL=Qwen/Qwen3-Embedding-8B


# MinerU服务器配置
#MINERU_SERVER_URL=http://127.0.0.1:30000