# minio
MINIO_ENDPOINT=172.31.154.203:9000
MINIO_ACCESS_KEY={MINIO_ACCESS_KEY}
MINIO_SECRET_KEY={MINIO_SECRET_KEY}
MINIO_BUCKET=test

# milvus
MILVUS_HOST={MILVUS_HOST}
MILVUS_PORT=19530
MILVUS_USER=lvlian
MILVUS_PASSWORD={MILVUS_PASSWORD}
MILVUS_DATABASE=mildoc
MILVUS_COLLECTION=mildoc_collection
MILVUS_INDEX_NAME=mildoc_index
MILVUS_VECTOR_DIM=768

# 管理后台配置
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# flask
FLASK_DEBUG=True
FLASK_SECRET_KEY=REDACTED_FLASK_SECRET
FLASK_HOST=0.0.0.0
FLASK_PORT=8870
