# minio
MINIO_ENDPOINT=127.0.0.1:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=agribot

# milvus
MILVUS_HOST=127.0.0.1
MILVUS_PORT=19530
MILVUS_USER=
MILVUS_PASSWORD=
MILVUS_DATABASE=agribot
MILVUS_COLLECTION=agribot_collection
MILVUS_INDEX_NAME=mildoc_index
MILVUS_VECTOR_DIM=1024

# 管理后台配置
ADMIN_USERNAME=admin
ADMIN_PASSWORD=

# flask
FLASK_DEBUG=True
FLASK_SECRET_KEY=
FLASK_HOST=0.0.0.0
FLASK_PORT=8870
